openai==1.105.0
python-dotenv==1.1.1
streamlit==1.49.1
tiktoken==0.11.0
transformers==4.56.0
requests
sseclient
streamlit-extras
streamlit-screen-stats
streamlit_local_storage
streamlit-browser-session-storage
aiohttp
google-auth
Pillow
google-auth-oauthlib